.my-listings-main {
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 1%;
    padding-bottom: 1%;
}

/*card luat de pe net*/

.container-list {
    background-color: rgb(243, 253, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.my-card {
    max-width: 40em;
    flex-direction: row;
    background-color: whitesmoke;
    border: 0;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
    margin: 3em auto;
}

.my-card-img {
    max-width: 25%;

    margin: auto;
    padding: 0.5em;
    border-radius: 0.7em;
}

.my-bg-light-subtle {
    color: dimgray
}

.my-card-title {
    color: dimgray
}

.my-card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my-text-section {
    max-width: 60%;
}

.my-cta-section {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}