.body_page{
    padding-left: 5%;
    padding-right: 5%;
}

.texts_body {
    color: #000000
}

.picture1{
    
    height: 300px;
}

.picture2{
    height: 200px;
        
}

.row2{
    margin-top: 10%;
}